<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Registration</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="icon" href="../multimedia/logo.png" type="image/icon type" />
    <script src="../js/toggle.js" defer></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" defer></script>
  </head>
 
  <body class="reg">
    <div class="container">
      <!-- <header>Signup Form</header> -->
      <!-- <?php 
        include("../lib/db.php"); 
            foreach($errors as $error)
            {
              ?>
      <p class="error">
        <?php echo $error;
            }
       ?></p> -->
       <% if(typeof msg != 'undefined') { %>
        <div class="col-12">
          <p class="error"><%= msg %></p>
        </div>
        <% } if(typeof error !== 'undefined') { %>
        <div class="col-12">
          <p class="error"><%= error %></p>
        </div>
        <% } %>


      <div class="progress-bar">
        <div class="step">
          <p>Name</p>
          <div class="bullet">
            <span>1</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>Contact</p>
          <div class="bullet">
            <span>2</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>Birth</p>
          <div class="bullet">
            <span>3</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>Submit</p>
          <div class="bullet">
            <span>4</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
      </div>
      <div class="form-outer">
        <form action="" method="POST">
          <div class="page slide-page">
            <div class="title">Registration-form:</div>
            <div class="field">
              <div class="label">Register as</div>
              <select name="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            <div class="field">
              <div class="label">Admin-Code</div>
              <input name="admin_code" type="text" />
            </div>
            <div class="field">
              <button type="button"  class="firstNext next">Next</button>
            </div>
          </div>

          <div class="page slide-page">
            <div class="title">Basic Info:</div>
            <div class="field">
              <div class="label">First Name</div>
              <!-- <input name="firstname" type="text"> -->
              <input
                type="text"
                class="input"
                name="fname"
                autocomplete="off"
                id="_fname"
                Placeholder="Enter your first name"
              />
            </div>
            <div class="field">
              <div class="label">Last Name</div>
              <input
                type="text"
                class="input"
                name="lname"
                autocomplete="off"
                id="_lname"
                Placeholder="Enter your last name"
              />
            </div>
            <div class="field">
              <button type="button" class="prev-101 prev">Previous</button>
              <button type="button" class="firstNext-1 next">Next</button>
            </div>
          </div>

          <div class="page">
            <div class="title">Contact Info:</div>
            <div class="field">
              <div class="label">Email Address</div>
              <!-- <input name="email" type="text"> -->
              <input
                type="email"
                class="input"
                name="email"
                id="_email"
                autocomplete="off"
                placeholder="Enter your email"
              />
            </div>
            <div class="field">
              <div class="label">Phone Number</div>
              <input
                name="phonenumber"
                class="input"
                type="tel"
                placeholder="03333333333"
              />
            </div>
            <div class="field btns">
              <button type="button" class="prev-1 prev">Previous</button>
              <button type="button" class="next-1 next">Next</button>
            </div>
          </div>

          <div class="page">
            <div class="title">Date of Birth:</div>
            <div class="field">
              <div class="label">Date</div>
              <input name="dob" type="date" />
            </div>

            <div class="col-2">
              <label for="gender">Gender</label>
              <input type="radio" name="gender" id="male" value="Male" /> Male
            </div>
            <div class="col-3">
              <br />
              <input type="radio" name="gender" id="female" value="Female" />
              Female
            </div>
            <!-- <div class="field">
            <div class="label">Gender</div>
            <select name="gender">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
            </select>
          </div> -->
            <div class="field btns">
              <button type="button" class="prev-2 prev">Previous</button>
              <button type="button" class="next-2 next">Next</button>
            </div>
          </div>

          <div class="page">
            <div class="title">Login Details:</div>
            <div class="field">
              <div class="label username">Username</div>
              <input name="username" type="text" />
            </div>
            <div class="field password">
              <div class="label">Password</div>
              <input name="pass" class="pass" type="password" /><i
                class="far fa-eye"
                id="togglePassword"
                style="margin-left: -50px; margin-top: 25px; cursor: pointer"
              ></i>
            </div>
            <div class="field password">
              <div class="label">Password</div>
              <input name="pass2" class="pass2" type="password" /><i
                class="far fa-eye"
                id="togglePassword2"
                style="margin-left: -50px; margin-top: 25px; cursor: pointer"
              ></i>
            </div>
            <div class="field btns">
              <button type="button" class="prev-3 prev">Previous</button>
              <button
                type="submit"
                name="register"
                onclick="preventDefault()"
                class="submit"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  <script>

const togglePassword = document.querySelector('#togglePassword');
const togglePassword2 = document.querySelector('#togglePassword2');
var password = document.querySelector('.pass');
var password2 = document.querySelector('.pass2');

togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    let type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);

    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});

togglePassword2.addEventListener('click', function (e) {
    // toggle the type attribute
    let type2 = password2.getAttribute('type') === 'password' ? 'text' : 'password';
    password2.setAttribute('type', type2);

    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});

  </script>

  <script>
    // registration page

const slidePage = document.querySelector(".slide-page");
const nextBtnFirst = document.querySelector(".firstNext");
const next = document.querySelector(".firstNext-1");
const prev = document.querySelector(".prev-101");
const prevBtnSec = document.querySelector(".prev-1");
const nextBtnSec = document.querySelector(".next-1");
const prevBtnThird = document.querySelector(".prev-2");
const nextBtnThird = document.querySelector(".next-2");
const prevBtnFourth = document.querySelector(".prev-3");
const submitBtn = document.querySelector(".submit");
const progressText = document.querySelectorAll(".step p");
const progressCheck = document.querySelectorAll(".step .check");
const bullet = document.querySelectorAll(".step .bullet");
let current = 1;

nextBtnFirst.addEventListener("click", function (event) {
  event.preventDefault();
  slidePage.style.marginLeft = "-25%";
  bullet[current - 1].classList.add("active");
  progressCheck[current - 1].classList.add("active");
  progressText[current - 1].classList.add("active");
  current += 1;
});

next.addEventListener("click", function (event) {
  event.preventDefault();
  slidePage.style.marginLeft = "-50%";
  bullet[current - 1].classList.add("active");
  progressCheck[current - 1].classList.add("active");
  progressText[current - 1].classList.add("active");
  current += 1;
});

nextBtnSec.addEventListener("click", function (event) {
  event.preventDefault();
  slidePage.style.marginLeft = "-75%";
  bullet[current - 1].classList.add("active");
  progressCheck[current - 1].classList.add("active");
  progressText[current - 1].classList.add("active");
  current += 1;
});
nextBtnThird.addEventListener("click", function (event) {
  event.preventDefault();
  slidePage.style.marginLeft = "-100%";
  bullet[current - 1].classList.add("active");
  progressCheck[current - 1].classList.add("active");
  progressText[current - 1].classList.add("active");
  current += 1;
});
submitBtn.addEventListener("click", function () {
  bullet[current - 1].classList.add("active");
  progressCheck[current - 1].classList.add("active");
  progressText[current - 1].classList.add("active");
  current += 1;
  setTimeout(function () {
    alert("Your Form Successfully Signed up");
    location.reload();
  }, 800);
});

prev.addEventListener("click", function (event) {
  event.preventDefault();
  slidePage.style.marginLeft = "0%";
  bullet[current - 2].classList.remove("active");
  progressCheck[current - 2].classList.remove("active");
  progressText[current - 2].classList.remove("active");
  current -= 1;
});

prevBtnSec.addEventListener("click", function (event) {
  event.preventDefault();
  slidePage.style.marginLeft = "0%";
  bullet[current - 2].classList.remove("active");
  progressCheck[current - 2].classList.remove("active");
  progressText[current - 2].classList.remove("active");
  current -= 1;
});
prevBtnThird.addEventListener("click", function (event) {
  event.preventDefault();
  slidePage.style.marginLeft = "-25%";
  bullet[current - 2].classList.remove("active");
  progressCheck[current - 2].classList.remove("active");
  progressText[current - 2].classList.remove("active");
  current -= 1;
});
prevBtnFourth.addEventListener("click", function (event) {
  event.preventDefault();
  slidePage.style.marginLeft = "-50%";
  bullet[current - 2].classList.remove("active");
  progressCheck[current - 2].classList.remove("active");
  progressText[current - 2].classList.remove("active");
  current -= 1;
});
  </script>

  <style>
    /* registration page */

    .reg {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      overflow: hidden;
      background: -webkit-linear-gradient(bottom, #0250c5, #27ae60);
    }
    ::selection {
      color: #fff;
      background: #27ae60;
    }
    .container {
      width: 330px;
      background: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 50px 35px 10px 35px;
    }
    .container header {
      font-size: 35px;
      font-weight: 600;
      margin: 0 0 30px 0;
    }
    .container .form-outer {
      width: 100%;
      overflow: hidden;
    }
    .container .form-outer form {
      display: flex;
      width: 400%;
    }
    .form-outer form .page {
      width: 25%;
      transition: margin-left 0.3s ease-in-out;
    }
    .form-outer form .page .title {
      text-align: left;
      font-size: 25px;
      font-weight: 500;
    }
    .form-outer form .page .field {
      width: 330px;
      height: 45px;
      margin: 45px 0;
      display: flex;
      position: relative;
    }
    form .page .field .label {
      position: absolute;
      top: -30px;
      font-weight: 500;
    }
    form .page .field input {
      height: 100%;
      width: 90%;
      border: 1px solid lightgrey;
      border-radius: 5px;
      padding-left: 15px;
      font-size: 18px;
    }
    form .page .field select {
      width: 100%;
      padding-left: 10px;
      font-size: 17px;
      font-weight: 500;
    }
    form .page .field button {
      width: 100%;
      height: calc(100% + 5px);
      border: none;
      /* background: #d33f8d; */
      background: #27ae60;
      /* background:  #0250c5; */
      margin-top: -20px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: 0.5s ease;
    }
    form .page .btns button {
      margin-top: -20px !important;
    }
    form .page .btns button.prev {
      margin-right: 3px;
      font-size: 17px;
    }
    form .page .btns button.next {
      margin-left: 3px;
    }
    .container .progress-bar {
      display: flex;
      margin: 40px 0;
      user-select: none;
    }
    .container .progress-bar .step {
      text-align: center;
      width: 100%;
      position: relative;
    }
    .container .progress-bar .step p {
      font-weight: 500;
      font-size: 18px;
      color: #444;
      margin-bottom: 8px;
    }
    .progress-bar .step .bullet {
      height: 25px;
      width: 25px;
      border: 2px solid #000;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      transition: 0.2s;
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
    }
    .progress-bar .step .bullet.active {
      /* background:  #27ae60; */
      border-color: #27ae60;
      background: #27ae60;
    }
    .progress-bar .step .bullet span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .progress-bar .step .bullet.active span {
      display: none;
    }
    .progress-bar .step .bullet:before,
    .progress-bar .step .bullet:after {
      position: absolute;
      content: "";
      bottom: 11px;
      right: -51px;
      height: 3px;
      width: 44px;
      background: #ffffff;
    }
    .progress-bar .step .bullet.active:after {
      background: #27ae60;
      transform: scaleX(0);
      transform-origin: left;
      animation: animate 0.3s linear forwards;
    }
    @keyframes animate {
      100% {
        transform: scaleX(1);
      }
    }
    .progress-bar .step:last-child .bullet:before,
    .progress-bar .step:last-child .bullet:after {
      display: none;
    }
    .progress-bar .step p.active {
      color: #27ae60;
      transition: 0.2s linear;
    }
    .progress-bar .step .check {
      position: absolute;
      left: 50%;
      top: 70%;
      font-size: 15px;
      transform: translate(-50%, -50%);
      display: none;
    }
    .progress-bar .step .check.active {
      display: block;
      color: #fff;
    }

    .container {
      box-shadow: 10px 10px 10px #262626;
    }
    .prev-101 {
      margin: 5px;
    }
    .error {
      border: 2px solid red;
      border-radius: 4px;
      background: rgba(250, 0, 0, 0.5);
    }
  </style>

  </body>
</html>