
<%- include('../partials/header',{title:'Login'}); -%>
   
<div class="container p-4">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card text-center">
                <div class="card-header bg-primary">
                    <h3>Forgot Password </h3>
                </div>
			 
					<form action="" method="POST" name="sendLink">     				
						<div class="row">
							<div class="col-10 float-center" style = "padding-left:40px">		
								<input type="hidden" name="token" class="form-control" value="token">
								<div class="form-group">
								<label for="email" class="float-left">Password</label>
								<input type="password" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Please Enter New Password" value="">
								</div>
							</div>
							<div class="col-10 float-center" style = "padding-left:40px">		
								<input type="hidden" name="token" class="form-control" value="token">
								<div class="form-group">
								<label for="exampleInputEmail1" class="float-left">Confirm Password</label>
								<input type="password" name="cpassword" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Please Enter New Password" value="">
								</div>
							</div>	
						</div>
						<% 
						if(typeof msg !== 'undefined')
						{ 
						%>
							<div class="col-12">
								<div class="success-msg">
									<%= msg %>
								</div>									
							</div>
						<% 
						}
								
						if(typeof error !== 'undefined')
						{ 
						%>
							<div class="col-12">
								<div class="err-msg">
									<%= error %>
								</div>									
							</div>
						<% 
						} 
						%>
						
						<div class="col-3 form-btns">
							<input type="submit" value="Change Password">
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer'); -%>