
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Create a New Password</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/pass.css">
  <link rel="icon" href="../multimedia/logo.png" type="image/icon type">
  <script src="../js/toggle.js" defer></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 form">
        <% 
			if(typeof error !== 'undefined')
				{ 
					%>
						<p class="error">
						<%= error		%>
						</p>
						<% 
				} 
		%>
						

        <form method="post" action="" name="resetPass">
          <h2>Change Password</h2>
          <div class="form-group">
			<input  name="token" class="form-control" 
									value="<%= token %>">
            <span>Password</span>
            <input name="pass" class="form-control" placeholder="Creat new Password" />
          </div>
          <div class="form-group">
            <span>Comfirm Password</span>
            <input name="pass2" class="form-control" placeholder="Confirm Password" />
            <input name="change_pass" type="submit" value="Change" class="btn form-control" />
			<% 
			if(typeof error !== 'undefined' && error != "")
						{ 
						%>
							<p class="error">
						<%= error		%>
						</p>
						<% 
						} 
						%>
          </div>
        </form>
      </div>
    </div>
  </div>


</body>

</html>
						
						